body {
    /* setting overall background color */
    background-color: #001a19;
}


.audio-container {
    /* setting flex display */
    display: flex;
    /* setting the direction of the flex to be horizontal */
    flex-direction: row;
    /* centering content to middle of the page */
    justify-content: center;
    /* setting content to be at top of the container */
    align-items: top;
    /* allowing for wrapping of the flex box */
    flex-wrap: wrap;
    /* defining size of the audio container */
    width: 300px;
    height: 300px;
    /* setting container colour */
    background-color: #02c5c1;
}

.player-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: auto;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #006362;
    color: white;
    font-weight: bold;
    font-size: 150%;
    width: 250px;
    height: 80px;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 75px;

}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 75px;
    height: auto;
}

.vol-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 75px;
    height: 54px;
}


.bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 30px;
}

.button-img {
    height: 20px;
    width: 20px;
}

.start-button-img {
    height: 40px;
    width: 40px;
}

.constrain-input {
    height: 25px;
    width: 75px;
}


#album-cover-fmt {
    height: 75px;
    width: 75px;
}

#play {
    height: 25px;
    width: 70px;
    margin-bottom: 4px;
}

#volume-button {
    height: 25px;
    width: 70px;
    margin-bottom: 4px;
}

#previous {
    height: 25px;
    width: 33px;
    margin-right: 2px;
}


#next {
    height: 25px;
    width: 33px;
    margin-left: 2px;
}

#progress-slider {
    width: 225px;
}

#flex-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 350px;
    height: 400px;
    position: absolute;
    background-color: #048886;
}

#body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
}

